<h1>Viewing all Posts</h1>
<%= link_to "New Post", posts_new_path %>
<ul>
  <% @posts.each do |post| %>
    <li><%= post.body %> </li>
    <% if logged_in? %>
      <%= User.find(post.user_id).name %>
    <% end %>
  <% end %>
</ul>